html {
    box-sizing: border-box;
    font-family: 'Calistoga', cursive;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Calistoga', cursive;
}
 

.container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}
.imgs {
    width: 50%;
    height: 50%;
}